body {
  font-family: sans-serif;
  margin: 0px;
}

a {
  text-decoration: none;
}

.section {
  width: 100%;
  display: flex;
  justify-content: center;
}
.section .container {
  max-width: 1240px;
  width: 100%;
  padding: 80px;
  overflow: hidden;
}
@media screen and (max-width: 1024px) {
  .section .container {
    padding: 30px;
  }
}
@media screen and (max-width: 1024px) and (max-width: 425px) {
  .section .container {
    padding: 15px;
  }
}

.button {
  display: flex;
  align-items: center;
  background: #46cd6b;
  gap: 20px;
  border-radius: 15px;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
@media screen and (max-width: 768px) {
  .button {
    font-size: 15px;
  }
}
@media screen and (max-width: 768px) and (max-width: 426px) {
  .button {
    font-size: 18px;
    border-radius: 15px;
  }
}
.button a {
  color: white;
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 12px 18px;
  display: flex;
  align-items: center;
  gap: 12px;
  justify-content: center;
}
@media screen and (max-width: 768px) {
  .button a {
    padding: 8px 16px;
  }
}
.button img {
  width: 35px;
}
.button.blue {
  background-color: #38B6FF;
}
.button:hover {
  background-color: black;
}

/* Elements with the 'desktop' class will be hidden on screens with a maximum width of 1248px or smaller. */
.desktop {
  display: block;
  /* Optional: Reset the default display property */
}

@media screen and (max-width: 1248px) {
  .desktop {
    display: none !important;
  }
}
/* Elements with the 'mobile' class will be hidden on screens with a minimum width of 1248px or larger. */
.mobile {
  display: block;
  /* Optional: Reset the default display property */
}

@media screen and (min-width: 1248px) {
  .mobile {
    display: none !important;
  }
}
html {
  scroll-behavior: smooth;
}

.header {
  display: flex;
  border-bottom: solid 1px black;
  position: fixed;
  background: white;
  top: 0;
  z-index: 99;
}
.header-logo {
  width: 100%;
  z-index: 2;
}
@media screen and (max-width: 1025px) {
  .header-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.header-logo-image {
  width: 200px;
  height: 70px;
  display: flex;
}
.header-logo-image img {
  width: 100%;
  object-fit: cover;
}
@media screen and (min-width: 1025px) {
  .header-logo-mobile-open {
    display: none;
  }
}
.header-logo-mobile-open img {
  width: 20px;
}
.header-logo-mobile-open .mobile-close.hidden {
  display: none;
}
.header-logo-mobile-open .mobile-open {
  display: none;
}
.header-logo-mobile-open .mobile-open.active {
  display: unset;
}
.header-menus {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  align-items: center;
}
.header-menus.item .item-menus {
  display: flex;
  flex-direction: row;
  gap: 20px;
  font-size: 22px;
}
.header-menus.item .item-menus a {
  position: relative;
  color: black;
}
.header-menus.item .item-menus a:not(:first-child)::before {
  content: "";
  position: absolute;
  left: -10px;
  height: 100%;
  width: 1px;
  background: black;
}
.mobile .header-menus.item .item-menus a {
  font-weight: bold;
}
.header-menus.item .item-info {
  width: 80%;
  flex-direction: column;
  gap: 20px;
  display: flex;
}
.header-menus.item .item-info-col {
  gap: 10px;
  display: flex;
  flex-direction: column;
}
.header-menus.item .item-info-col-wrap {
  display: flex;
  gap: 20px;
}
.header-menus.item .item-info-col-title {
  font-size: 20px;
  font-weight: bolder;
  color: white;
}
.header-menus.item .item-info-col-text {
  font-size: 14px;
  color: white;
}
.header-menus.item .item-info-col-image {
  width: auto;
  height: 50px;
  background: white;
  border-radius: 25px;
  padding: 5px 25px;
}
.header-menus.item .item-info-col-image-button {
  width: 100px;
  height: 50px;
}
.header-menus.item .item-info-col-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.header-menus.mobile {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  align-items: baseline;
  position: fixed;
  width: 100%;
  height: 100%;
  background: black;
  flex-direction: column;
  left: 100%;
  transition: all 0.3s ease-in-out;
  top: 91px;
  left: -100%;
}
.header-menus.mobile.active {
  left: 0;
  top: 91px;
  transition: all 0.3s ease-in-out;
  padding: 40px 25px;
}
.header-menus.mobile .item {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  align-items: flex-start;
  flex-direction: column;
}
.header-menus.mobile .item-menus {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 22px;
}
.header-menus.mobile .item-menus a {
  color: white;
}
.header-menus.mobile .item-button {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}
.header-menus.mobile .item-button .button {
  font-size: 13px;
}
.header.section .container {
  display: flex;
  padding: 20px 80px;
}
@media screen and (max-width: 1024px) {
  .header.section .container {
    padding: 10px 30px 10px 0px;
  }
}

.hero {
  padding-top: 110px;
}
@media screen and (max-width: 821px) {
  .hero {
    padding-top: 85px;
  }
}
.hero-row {
  display: flex;
  gap: 40px;
}
@media screen and (max-width: 426px) {
  .hero-row {
    flex-direction: column;
  }
}
.hero-col {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.hero-col:last-child {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 25px;
  position: relative;
  overflow: hidden;
  border-top-left-radius: 30%;
  border-top-right-radius: 30%;
}
@media screen and (max-width: 821px) {
  .hero-col:last-child {
    justify-content: end;
    display: flex;
  }
}
.hero-title {
  color: #38B6FF;
  font-size: 45px;
  font-weight: bold;
  text-align: center;
}
@media screen and (max-width: 1024px) {
  .hero-title {
    font-size: 35px;
  }
}
@media screen and (max-width: 1024px) and (max-width: 821px) {
  .hero-title {
    font-size: 30px;
  }
}
.hero-title span {
  color: #ffc100;
}
.hero-description {
  font-size: 18px;
}
@media screen and (max-width: 1024px) {
  .hero-description {
    font-size: 15px;
  }
}
@media screen and (max-width: 1024px) and (max-width: 821px) {
  .hero-description {
    font-size: 14px;
  }
}
.hero-button {
  display: flex;
  gap: 30px;
}
@media screen and (max-width: 1024px) {
  .hero-button {
    display: flex;
    gap: 10px;
    flex-direction: column;
    width: 100%;
  }
}
.hero-logos {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.hero-logos-image {
  display: flex;
  gap: 20px;
}
.hero-logos-image img {
  width: 55px;
  height: auto;
}
@media screen and (max-width: 821px) {
  .hero-logos-image img {
    width: 40px;
  }
}
.hero-logos-text {
  font-size: 18px;
}
@media screen and (max-width: 1024px) {
  .hero-logos-text {
    font-size: 15px;
  }
}
@media screen and (max-width: 1024px) and (max-width: 821px) {
  .hero-logos-text {
    font-size: 14px;
  }
}
.hero-image {
  height: 520px;
}
@media screen and (max-width: 821px) {
  .hero-image {
    height: auto;
  }
}
.hero-image img {
  width: 100%;
}
.hero-asset {
  position: absolute;
  top: -20%;
  width: 100%;
  height: 100%;
  z-index: -1;
  left: -4%;
  border-radius: 38%;
  overflow: hidden;
}
@media screen and (max-width: 821px) {
  .hero-asset {
    top: 0;
  }
}
.hero-asset .conferti {
  width: 100%;
  height: 100%;
  scale: 1.2;
}
.hero-asset .love {
  position: absolute;
  width: 80px;
}
@media screen and (max-width: 821px) {
  .hero-asset .love {
    width: 60px;
  }
}
.hero-asset .love-1 {
  top: 30%;
  left: 15%;
  rotate: -15deg;
}
@media screen and (max-width: 1024px) {
  .hero-asset .love-1 {
    top: 25%;
  }
}
@media screen and (max-width: 1024px) and (max-width: 821px) {
  .hero-asset .love-1 {
    top: 15%;
  }
}
.hero-asset .love-2 {
  top: 38%;
  left: 76%;
  rotate: 20deg;
}
@media screen and (max-width: 1024px) {
  .hero-asset .love-2 {
    top: 34%;
  }
}
@media screen and (max-width: 1024px) and (max-width: 821px) {
  .hero-asset .love-2 {
    top: 22%;
  }
}

.cars-wrapper {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}
@media screen and (max-width: 1224px) {
  .cars-wrapper {
    gap: 20px;
    justify-content: center;
  }
}
.cars .card {
  width: 20%;
  height: 500px;
  border: solid 1px black;
  padding: 25px 15px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  overflow: hidden;
  justify-content: space-evenly;
}
@media screen and (max-width: 1024px) {
  .cars .card {
    width: 28%;
  }
}
@media screen and (max-width: 1024px) and (max-width: 821px) {
  .cars .card {
    width: 26%;
    gap: 10px;
    height: auto;
    justify-content: flex-start;
  }
}
@media screen and (max-width: 1024px) and (max-width: 821px) and (max-width: 426px) {
  .cars .card {
    width: 80%;
    padding: 15px 10px;
  }
}
.cars .card-image {
  width: 100%;
  height: 170px;
}
@media screen and (max-width: 426px) {
  .cars .card-image {
    height: auto;
  }
}
.cars .card-image img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .cars .card-image img {
    object-fit: contain;
  }
}
.cars .card-name {
  font-size: 25px;
  font-weight: bold;
}
@media screen and (max-width: 821px) {
  .cars .card-name {
    font-size: 20px;
  }
}
@media screen and (max-width: 821px) and (max-width: 426px) {
  .cars .card-name {
    font-size: 25px;
  }
}
.cars .card-price {
  font-size: 20px;
  font-weight: 700;
  color: #38b6ff;
}
@media screen and (max-width: 426px) {
  .cars .card-price {
    font-size: 23px;
  }
}
.cars .card-price::after {
  content: "";
  width: 115%;
  display: flex;
  border: solid 1px black;
  margin-left: -20px;
  margin-top: 10px;
}
@media screen and (max-width: 426px) {
  .cars .card-price::after {
    width: 125%;
  }
}
.cars .card-point {
  font-size: 18px;
}
@media screen and (max-width: 821px) {
  .cars .card-point {
    font-size: 12px;
    font-weight: bold;
  }
}
@media screen and (max-width: 821px) and (max-width: 426px) {
  .cars .card-point {
    font-size: 16px;
  }
}
.cars .card-point ul {
  margin: auto;
  padding-left: 35px;
}
@media screen and (max-width: 821px) {
  .cars .card-point ul {
    padding-left: 25px;
    gap: 10px;
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 821px) and (max-width: 426px) {
  .cars .card-point ul {
    gap: 6px;
  }
}
.cars .card-point ul li {
  list-style-image: url(../asset/images/checklist.svg);
  position: relative;
}
@media screen and (max-width: 821px) {
  .cars .card-point ul li {
    list-style-image: url(../asset/images/checklist-20.svg);
  }
}
.cars .card-point ul li span {
  display: flex;
  align-items: center;
  height: 20%;
  width: 100%;
  position: absolute;
}
@media screen and (max-width: 821px) {
  .cars .card-point ul li span {
    top: 0;
    height: 100%;
  }
}
.cars .card-button {
  margin-top: 8px;
}
@media screen and (max-width: 821px) {
  .cars .card-button {
    margin-top: 12px;
  }
}
.cars .card-button .button {
  justify-content: center;
}
.cars .disclaimer-wrap {
  margin-top: 30px;
}
@media screen and (max-width: 426px) {
  .cars .disclaimer-wrap {
    font-size: 14px;
    line-height: 130%;
  }
}

.reasson-wrap {
  display: flex;
  width: 100%;
}
@media screen and (max-width: 426px) {
  .reasson-wrap {
    flex-direction: column-reverse;
    gap: 40px;
  }
}
.reasson-image {
  position: relative;
  width: 100%;
  min-height: 40em;
}
@media screen and (max-width: 821px) {
  .reasson-image {
    min-height: 24em;
  }
}
.reasson-image img {
  width: 27em;
  position: absolute;
  filter: drop-shadow(16px 16px 8px rgba(0, 0, 0, 0.2705882353));
}
@media screen and (max-width: 821px) {
  .reasson-image img {
    width: 17em;
  }
}
.reasson-image img:last-child {
  right: 0;
  bottom: 25%;
}
.reasson-content {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  gap: 15px;
}
.reasson-content-title {
  font-size: 45px;
  font-weight: bold;
  text-align: center;
  width: 70%;
}
@media screen and (max-width: 1024px) {
  .reasson-content-title {
    width: 100%;
  }
}
@media screen and (max-width: 1024px) and (max-width: 821px) {
  .reasson-content-title {
    font-size: 35px;
  }
}
.reasson-content-title span {
  color: #38B6FF;
}
.reasson-content-desc {
  font-size: 1.2em;
  width: 70%;
}
@media screen and (max-width: 1024px) {
  .reasson-content-desc {
    width: 80%;
  }
}
@media screen and (max-width: 1024px) and (max-width: 821px) {
  .reasson-content-desc {
    font-size: 1em;
  }
}
.reasson-content-list {
  width: 70%;
}
@media screen and (max-width: 1024px) {
  .reasson-content-list {
    width: 80%;
  }
}
.reasson-content-list ul {
  margin-top: 0;
}
@media screen and (max-width: 821px) {
  .reasson-content-list ul {
    padding-left: 20px;
  }
}
.reasson-content-list ul li {
  list-style-image: url(../asset/images/checklist.svg);
  position: relative;
}
@media screen and (max-width: 821px) {
  .reasson-content-list ul li {
    list-style-image: url(../asset/images/checklist-20.svg);
  }
}
.reasson-content-list ul li span {
  display: flex;
  align-items: center;
  height: 20%;
  width: 100%;
  position: absolute;
  font-size: 20px;
}
@media screen and (max-width: 821px) {
  .reasson-content-list ul li span {
    font-size: 15px;
    height: 100%;
    top: 0;
  }
}

.footer {
  background-color: black;
}
.footer-wrap {
  display: flex;
  width: 100%;
  gap: 50px;
  padding-bottom: 50px;
}
@media screen and (max-width: 426px) {
  .footer-wrap {
    gap: 20px;
    flex-direction: column;
    padding-bottom: 50px;
  }
}
.footer-col {
  width: 100%;
  gap: 20px;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 426px) {
  .footer-col {
    gap: 10px;
  }
}
.footer-col-title {
  font-size: 2.4rem;
  font-weight: bold;
  color: #38B6FF;
}
@media screen and (max-width: 1024px) {
  .footer-col-title {
    font-size: 1.7rem;
  }
}
@media screen and (max-width: 1024px) and (max-width: 821px) {
  .footer-col-title {
    font-size: 1.2rem;
  }
}
.footer-col-text {
  color: white;
  font-size: 25px;
  line-height: 35px;
}
@media screen and (max-width: 1024px) {
  .footer-col-text {
    font-size: 20px;
  }
}
@media screen and (max-width: 1024px) and (max-width: 821px) {
  .footer-col-text {
    font-size: 15px;
    line-height: 20px;
  }
}
.footer-col-image-button {
  width: auto;
  height: 100px;
  background: white;
  border-radius: 40px;
  justify-content: center;
  display: flex;
}
@media screen and (max-width: 821px) {
  .footer-col-image-button {
    height: 60px;
  }
}
.footer-col-image-button img {
  width: 200px;
  height: 100px;
  object-fit: cover;
}
.footer-col-image-button img.bbri {
  width: 280px;
}
@media screen and (max-width: 1025px) {
  .footer-col-image-button img.bbri {
    width: 220px;
  }
}
@media screen and (max-width: 1025px) and (max-width: 768px) {
  .footer-col-image-button img.bbri {
    width: 160px;
  }
}
@media screen and (max-width: 821px) {
  .footer-col-image-button img {
    width: 140px;
    height: 60px;
  }
}

/*# sourceMappingURL=styles.css.map */
