@import 'base.scss';

.header {
    display: flex;
    border-bottom: solid 1px black;
    position: fixed;
    background: white;
    top: 0;
    z-index: 99;

    &-logo {
        width: 100%;
        z-index: 2;

        @media screen and (max-width: 1025px) {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }


        &-image {
            width: 200px;
            height: 70px;
            display: flex;


            img {
                width: 100%;
                object-fit: cover;
            }
        }

        &-mobile-open {
            @media screen and (min-width: 1025px) {
                display: none;
            }

            img {
                width: 20px;
            }

            .mobile-close {
                &.hidden {
                    display: none;
                }
            }

            .mobile-open {
                display: none;

                &.active {
                    display: unset;
                }
            }
        }
    }

    &-menus {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        gap: 20px;
        align-items: center;

        &.item {
            .item {
                &-menus {
                    display: flex;
                    flex-direction: row;
                    gap: 20px;
                    font-size: 22px;



                    a {
                        position: relative;

                        &:not(:first-child) {
                            &::before {
                                content: "";
                                position: absolute;
                                left: -10px;
                                height: 100%;
                                width: 1px;
                                background: black;
                            }
                        }

                        .mobile & {
                            font-weight: bold;
                        }

                        color: black;
                    }
                }

                &-info {
                    width: 80%;
                    flex-direction: column;
                    gap: 20px;
                    display: flex;

                    &-col {
                        gap: 10px;
                        display: flex;
                        flex-direction: column;

                        &-wrap {
                            display: flex;
                            gap: 20px;
                        }

                        &-title {
                            font-size: 20px;
                            font-weight: bolder;
                            color: white;
                        }

                        &-text {
                            font-size: 14px;
                            color: white;
                        }

                        &-image {
                            width: auto;
                            height: 50px;
                            background: white;
                            border-radius: 25px;
                            padding: 5px 25px;

                            &-button {
                                width: 100px;
                                height: 50px;
                            }

                            img {
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }
                        }
                    }
                }
            }

        }

        &.mobile {
            display: flex;
            justify-content: flex-start;
            gap: 20px;
            align-items: baseline;
            position: fixed;
            width: 100%;
            height: 100%;
            background: black;
            flex-direction: column;
            left: 100%;
            transition: all 0.3s ease-in-out;
            top: 91px;

            &.active {
                left: 0;
                top: 91px;

                transition: all 0.3s ease-in-out;
                padding: 40px 25px;
            }

            left: -100%;

            .item {
                width: 100%;
                display: flex;
                justify-content: flex-start;
                gap: 20px;
                align-items: flex-start;
                flex-direction: column;

                &-menus {
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                    font-size: 22px;

                    a {
                        color: white;
                    }
                }

                &-button {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    gap: 10px;

                    .button {
                        font-size: 13px;
                    }
                }
            }
        }
    }

    &.section .container {
        display: flex;
        padding: 20px 80px;

        @media screen and (max-width: 1024px) {
            padding: 10px 30px 10px 0px;
        }
    }
}


.hero {
    padding-top: 110px;

    @media screen and (max-width: 821px) {
        padding-top: 85px;
    }

    &-row {
        display: flex;
        gap: 40px;

        @media screen and (max-width: 426px) {
            flex-direction: column;
        }
    }

    &-col {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 25px;


        &:last-child {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 25px;
            position: relative;
            overflow: hidden;

            border-top-left-radius: 30%;
            border-top-right-radius: 30%;


            @media screen and (max-width: 821px) {
                justify-content: end;
                display: flex;
            }
        }
    }

    &-title {
        color: #38B6FF;
        font-size: 45px;
        font-weight: bold;
        text-align: center;

        @media screen and (max-width: 1024px) {
            font-size: 35px;

            @media screen and (max-width: 821px) {
                font-size: 30px;
            }
        }


        span {
            color: #ffc100;
        }
    }

    &-description {
        font-size: 18px;

        @media screen and (max-width: 1024px) {
            font-size: 15px;

            @media screen and (max-width: 821px) {
                font-size: 14px;
            }
        }
    }

    &-button {
        display: flex;
        gap: 30px;

        @media screen and (max-width: 1024px) {
            display: flex;
            gap: 10px;
            flex-direction: column;
            width: 100%;
        }
    }

    &-logos {
        display: flex;
        flex-direction: column;
        gap: 20px;

        &-image {
            display: flex;
            gap: 20px;

            img {
                width: 55px;
                height: auto;

                @media screen and (max-width: 821px) {
                    width: 40px;
                }
            }
        }

        &-text {
            font-size: 18px;

            @media screen and (max-width: 1024px) {
                font-size: 15px;

                @media screen and (max-width: 821px) {
                    font-size: 14px;
                }
            }
        }
    }

    &-image {
        height: 520px;

        @media screen and (max-width: 821px) {
            height: auto;
        }

        img {
            width: 100%;
            height: auto;
            min-height: 314px;
        }
    }

    &-asset {
        position: absolute;
        top: -20%;
        width: 100%;
        height: 100%;
        z-index: -1;
        left: -4%;
        border-radius: 38%;
        overflow: hidden;

        @media screen and (max-width: 821px) {
            top: 0;
        }

        .conferti {
            width: 100%;
            height: 100%;
            scale: 1.2;
        }

        .love {
            position: absolute;
            width: 80px;

            @media screen and (max-width: 821px) {
                width: 60px;
            }

            &-1 {
                top: 30%;
                left: 15%;
                rotate: -15deg;

                @media screen and (max-width: 1024px) {
                    top: 25%;

                    @media screen and (max-width: 817px) {
                        top: 33%;
                    }

                    @media screen and (max-width: 767px) {
                        top: 5%;
                    }
                }
            }

            &-2 {
                top: 38%;
                left: 76%;
                rotate: 20deg;

                @media screen and (max-width: 1024px) {
                    top: 34%;

                    @media screen and (max-width: 817px) {
                        top: 40%;
                    }

                    @media screen and (max-width: 767px) {
                        top: 15%;
                    }
                }
            }
        }
    }
}


.cars {

    &-wrapper {
        display: flex;
        gap: 30px;
        flex-wrap: wrap;

        @media screen and (max-width : 1224px) {
            gap: 20px;

            justify-content: center;

        }
    }

    .card {

        width: 20%;
        height: 500px;
        border: solid 1px black;
        padding: 25px 15px;
        border-radius: 20px;

        display: flex;
        flex-direction: column;
        gap: 12px;
        overflow: hidden;
        justify-content: space-evenly;

        @media screen and (max-width : 1024px) {
            width: calc(28%);

            @media screen and (max-width: 821px) {
                width: calc(26%);
                gap: 10px;
                height: auto;
                justify-content: flex-start;

                @media screen and (max-width : 426px) {
                    width: calc(80%);
                    padding: 15px 10px;
                }
            }
        }

        &-image {
            width: 100%;
            height: 170px;

            @media screen and (max-width : 426px) {
                height: auto;
            }

            img {
                @media screen and (max-width : 768px) {
                    object-fit: contain;
                }

                height: 100%;
                object-fit: cover;
                width: 100%;
            }
        }

        &-name {
            font-size: 25px;
            font-weight: bold;

            @media screen and (max-width: 821px) {
                font-size: 20px;

                @media screen and (max-width : 426px) {
                    font-size: 25px;
                }
            }

        }

        &-price {
            font-size: 20px;
            font-weight: 700;
            color: #38b6ff;

            @media screen and (max-width : 426px) {
                font-size: 23px;
            }

            &::after {
                content: "";
                width: 115%;
                display: flex;
                border: solid 1px black;
                margin-left: -20px;
                margin-top: 10px;

                @media screen and (max-width : 426px) {
                    width: 125%;
                }
            }
        }

        &-point {
            font-size: 18px;

            @media screen and (max-width: 821px) {

                font-size: 12px;
                font-weight: bold;

                @media screen and (max-width : 426px) {
                    font-size: 16px;
                }
            }

            ul {
                margin: auto;
                padding-left: 35px;

                @media screen and (max-width: 821px) {
                    padding-left: 25px;
                    gap: 10px;
                    display: flex;
                    flex-direction: column;

                    @media screen and (max-width : 426px) {
                        gap: 6px;
                    }
                }


                li {
                    list-style-image: url(../asset/images/checklist.svg);
                    position: relative;

                    @media screen and (max-width: 821px) {
                        list-style-image: url(../asset/images/checklist-20.svg);
                    }

                    span {
                        display: flex;
                        align-items: center;
                        height: 20%;
                        width: 100%;
                        position: absolute;

                        @media screen and (max-width: 821px) {
                            top: 0;
                            height: 100%;
                        }
                    }

                }
            }
        }

        &-button {
            margin-top: 8px;

            @media screen and (max-width: 821px) {
                margin-top: 12px;
            }


            .button {
                justify-content: center;
            }
        }
    }

    .disclaimer-wrap {
        margin-top: 30px;

        @media screen and (max-width : 426px) {
            font-size: 14px;
            line-height: 130%;
        }
    }

}


.reasson {
    &-wrap {
        display: flex;
        width: 100%;

        @media screen and (max-width : 426px) {
            flex-direction: column-reverse;
            gap: 40px;
        }
    }

    &-image {
        position: relative;
        width: 100%;
        min-height: 40em;

        @media screen and (max-width: 821px) {
            min-height: 24em;
        }

        img {
            width: 27em;
            position: absolute;
            filter: drop-shadow(16px 16px 8px #00000045);


            @media screen and (max-width: 821px) {
                width: 17em;
            }

            &:last-child {
                right: 0;
                bottom: 25%;
            }
        }
    }

    &-content {
        justify-content: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        width: 100%;
        gap: 15px;

        &-title {
            font-size: 45px;
            font-weight: bold;
            text-align: center;
            width: 70%;

            @media screen and (max-width: 1024px) {
                width: 100%;

                @media screen and (max-width: 821px) {
                    font-size: 35px;
                }
            }

            span {
                color: #38B6FF;
            }
        }

        &-desc {
            font-size: 1.2em;
            width: 70%;

            @media screen and (max-width: 1024px) {
                width: 80%;

                @media screen and (max-width: 821px) {
                    font-size: 1em;
                }
            }

        }

        &-list {
            width: 70%;

            @media screen and (max-width: 1024px) {
                width: 80%;
            }

            ul {
                margin-top: 0;

                @media screen and (max-width: 821px) {
                    padding-left: 20px;
                }

                li {
                    list-style-image: url(../asset/images/checklist.svg);
                    position: relative;

                    @media screen and (max-width: 821px) {
                        list-style-image: url(../asset/images/checklist-20.svg);
                    }

                    span {
                        display: flex;
                        align-items: center;
                        height: 20%;
                        width: 100%;
                        position: absolute;
                        font-size: 20px;

                        @media screen and (max-width: 821px) {
                            font-size: 15px;
                            height: 100%;
                            top: 0;
                        }
                    }
                }
            }
        }
    }
}

.footer {
    background-color: black;

    &-wrap {
        display: flex;
        width: 100%;
        gap: 50px;
        padding-bottom: 50px;

        @media screen and (max-width: 426px) {
            gap: 20px;
            flex-direction: column;
            padding-bottom: 50px;
        }
    }

    &-col {
        width: 100%;
        gap: 20px;
        display: flex;
        flex-direction: column;

        @media screen and (max-width: 426px) {
            gap: 10px;

        }

        &-title {
            font-size: 2.4rem;
            font-weight: bold;
            color: #38B6FF;

            @media screen and (max-width: 1024px) {
                font-size: 1.7rem;

                @media screen and (max-width: 821px) {
                    font-size: 1.2rem;
                }
            }
        }

        &-text {
            color: white;
            font-size: 25px;
            line-height: 35px;

            @media screen and (max-width: 1024px) {
                font-size: 20px;

                @media screen and (max-width: 821px) {
                    font-size: 15px;
                    line-height: 20px;
                }
            }
        }

        &-image {
            &-button {
                width: auto;
                height: 100px;
                background: white;
                border-radius: 40px;
                justify-content: center;
                display: flex;

                @media screen and (max-width: 821px) {
                    height: 60px;
                }

                img {

                    &.bbri {
                        width: 280px;

                        @media screen and (max-width: 1025px) {
                            @media screen and (max-width: 768px) {
                                width: 160px;
                            }

                            width: 220px;
                        }
                    }

                    width: 200px;
                    height: 100px;
                    object-fit: cover;

                    @media screen and (max-width: 821px) {
                        width: 140px;
                        height: 60px;
                    }
                }
            }
        }
    }
}